{% extends "base.html" %}
{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block css_style %}
    <link rel="stylesheet" href="{% static "portfolio/single_project.css" %}">
{% endblock %}

{% block content %}
    <div id="project-container">
        <!-- Created DAte and Updated Date -->
        <div id="dates">
            <p>Posted: {{ project.created_date }}</p>
            <p>Last update: {{ project.updated_date }}</p>
        </div>
        <!-- Project TITLE -->
        <h1>{{ project.title }}</h1>
        <!-- Project OUTLINE -->
        <p>{{ project.outline }}</p>

        <img src="{{ images.image.url }}" alt="project-img" id="project-img">

        <div>
            {{ project.content }}
        </div>

        <div id="counters">
            <!-- Views count -->
            <p>Views: 0</p>
            <!-- Likes count -->
            <p>Likes: 0</p>
        </div>
    </div>
{% endblock %}
