{% extends "base.html" %}
{% load static %}

{% block title %}{{ project.title }}{% endblock %}

{% block css_style %}
    <link rel="stylesheet" href="{% static "portfolio/single_project.css" %}">
{% endblock %}

{% block content %}
    <div id="project-container">
        <!-- Created DAte and Updated Date -->
        <div id="dates">
            <p>Posted: {{ project.created_date }}</p>
            <p>Last update: {{ project.updated_date }}</p>
        </div>
        <!-- Project TITLE -->
        <h1 id="title">{{ project.title }}</h1>
        <!-- Project OUTLINE -->
        <p id="outline">{{ project.outline }}</p>

        <img src="{{ images.image.url }}" alt="project-img" id="project-img">

        <div id="project-content">
            {{ project_content|safe }}
        </div>

        <div id="counters">
            <!-- Views count -->
            <p id="views-counter">Views: {{ project.views }}</p>
            <!-- Likes count -->
            <form method="post" action="{% url "like_project" project.pk %}" id="likes-form">
                {% csrf_token %}
                <label for="like-button">Likes: {{ project.likes }}</label>
                <button type="submit" id="like-button">🤍</button>
            </form>
        </div>
    </div>
{% endblock %}
