#posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#posts-container > .post-card {
    flex: 30%;
}

.post-card {
    text-align: center;
    margin-bottom: 50px;
}

.post-card-img {
    border-radius: 3%;
    width: 400px;
    height: 300px;
}

.post-link {
    color: white;
    text-decoration: none;
}

.post-link:hover {
    color: #93B1A6;
}