.card{
  width: 30%;
  height: auto;
  background-color: #faf7f0;
  border-radius: 1.5rem;
  padding: 16px;
  overflow: hidden;
  position: relative;
}

.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.blog-title{
  color: #040D12;
  font-size: 1.5rem;
}

.blog-time{
  font-size: .8rem;
  color: #183D3D;
}

.description{
  color: #183D3D;
  font-size: 1rem;
}

.options{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
}

.options span{
  font-weight: 600;
  margin-right: 2%;
}

.post-link {
  text-decoration: none;
  color: #040D12;
  margin-top: 20px;
  display: block;
}

.post-link:hover {
  text-decoration: underline;
}