#post-container {
    margin: 0 auto;
    width: 50%;
}

#post-img {
    width: 100%;
    margin: 20px 0;
    border-radius: 3%;
}

#counters {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    font-size: 12;
    margin-top: 40px;
}