{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block css_style %}
    <link rel="stylesheet" href="{% static "blog/single_post_page.css" %}">
{% endblock %}

{% block content %}
    <div id="post-container">
        <!-- Created DAte -->
        <p>Posted: {{ post.created_date }}</p>
        <!-- POST TITLE -->
        <h1>{{ post.title }}</h1>
        <!-- POST OUTLINE -->
        <p>{{ post.outline }}</p>

        <img src="{{ images.image.url }}" alt="post-img" id="post-img">

        <div>
            {{ post.content }}
        </div>

        <div id="counters">
            <!-- Views count -->
            <p>Views: 0</p>
            <!-- Likes count -->
            <p>Likes: {{ post.likes }}</p>
        </div>
    </div>
{% endblock %}
