<div class="tutorial__TutorialCardContainer-sc-1rebzxr-0 kiZnIX">
    <div class="tutorial__CardImageContainer-sc-1rebzxr-1 bcwvBA">
        <img alt="From basic to advanced. Learn python programming." loading="lazy" width="300" height="200" decoding="async" data-nimg="1" class="tutorial__TutorialCardImage-sc-1rebzxr-2 hBRhHJ" style="color:transparent" srcset="/_next/image?url=https%3A%2F%2Fdev-cms.us-east-1.linodeobjects.com%2Fpython_programming_300x168_a332a9c265.png&amp;w=384&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fdev-cms.us-east-1.linodeobjects.com%2Fpython_programming_300x168_a332a9c265.png&amp;w=640&amp;q=75 2x" src="/_next/image?url=https%3A%2F%2Fdev-cms.us-east-1.linodeobjects.com%2Fpython_programming_300x168_a332a9c265.png&amp;w=640&amp;q=75">
    </div>
    <div direction="column" class="flex__FlexContainer-sc-8vtkwv-0 liIWFm">
        <h3 class="tutorial__TutorialCardTitle-sc-1rebzxr-3 dVehcl">From basic to advanced. Learn python programming.</h3>
        <div class="tutorial__TutorialTagsContainer-sc-1rebzxr-4 cmVQOC">
            <a class="pill__PillContainer-sc-19boi4z-0 dYPwbk">Python</a>
            <a class="pill__PillContainer-sc-19boi4z-0 dYPwbk">Beginner</a>
            <a class="pill__PillContainer-sc-19boi4z-0 dYPwbk">Intermediate</a>
            <a class="pill__PillContainer-sc-19boi4z-0 dYPwbk">Advanced</a>
        </div>
        <p class="tutorial__TutorialCardDescription-sc-1rebzxr-5 cCJBOH">Learn the Python programming language from scratch. This series is designed for complete beginners and will walk you through the python programming language. Absolutely no experience required. I explain everything in depth and give effective examples to help you understand.</p>
        <div class="tutorial__ButtonContainer-sc-1rebzxr-6 cXbQGi">
            <a href="/tutorials/python-programming" class="button__ButtonStyled-sc-73bwj8-0 hZeIKp">Get started<img alt="icon" loading="lazy" width="13" height="13" decoding="async" data-nimg="1" style="color:transparent" src="/_next/static/media/arrow.470fae58.svg"></a>
        </div>
    </div>
</div>