.project-card {
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.project-card img { 
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    max-height: 200px;
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0 10px;
    color: #333; 
} 

.project-card p {
    flex-grow: 1;
    color: #555;
}

.project-card .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}