.card {
    display: flex;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

.project-img {
    width: 300px;
    height: 200px;
    margin-right: 60px;
    border-radius: 4%;
}

.card-body {
    width: 50%;
    flex: 1;
}

.project-link {
    border: 1px solid black;
    border-radius: 20%;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    float: right;
}

.project-link:hover {
    background-color: #93B1A6;
    color: #faf7f0;
}

.project-separator {
    border: 1px solid white;
    width: 60%;
    margin: 20px auto;
}
