.card {
    display: flex;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
}

.project-img {
    width: 300px;
    height: 200px;
    margin-right: 60px;
    border-radius: 4%;
}

.card-body {
    width: 50%;
    flex: 1;
}

.project-link {
    border-radius: 30%;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.project-link:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: 1px solid black;
}

.project-separator {
    border: 1px solid white;
    width: 50%;
    margin: 50px auto;
}
