.hZeIKp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    width: auto;
    height: auto;
    gap: 8px;
    outline: none;
    background-color: transparent;
    color: rgb(245, 126, 36);
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    font-size: 14px;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
