#project-container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dates {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-size: 12;
    margin-bottom: 40px;
}

#project-img {
    max-width: 740px;
    max-height: 500px;
    margin: 20px 0;
    border-radius: 3%;
}

#project-content {
    width: 90%;
}

#counters {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    font-size: 12;
    margin-top: 40px;
}

#views-counter {
    margin: 5px 0;
}

#likes-form {
    margin: 5px 0;
}

#like-button {
    background: none;
    border: none;
    float: inline-end;
    padding-right: 0;
}

#like-button:active {
    border-radius: 25%;
    padding-top: 0;
    transform: scale(1.5);
}
