#contacts-holder {
    width: 60%;
    margin: 0 auto;
}

.conatct {
    margin-bottom: 15px;
}

.contact-img {
    max-height: 25px;
    float: left;
    margin-right: 5px;
}

.contact-title {
    font-size: 20px;
}

.contact-link {
    color: white;
    text-decoration-color: gold;
}

.contact-link:hover {
    background-color: gold;
    color: #8b4513;
}