#my-cv {
    width: 60%;
    margin: 0 auto;
}

#welcome-section {
    display: flex;
    align-items: flex-start;
}

#my-img {
    width: 400px;
    height: 300px;
    border-radius: 3%;
    margin-right: 20px;
}

#welcome-text {
    width: 50%;
    text-align: justify;
    overflow: hidden;
}

#cv-separator {
    color: white;
    margin: 50px auto;
    width: 70%;
}
