{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block css_style %}
    <link rel="stylesheet" href="{% static "home_page.css" %}">
{% endblock %}

{% block content %}
    <div id="my-cv">
        <div id="welcome-section">    
            <img src="{% static 'images/my-img.jpg' %}" alt="my-img" id="my-img">
            <p id="welcome-text">Hi, I'm Oleksandr, I'm glad to welcome you to my website, here you can read my blog, see my projects and if you want to chat with me. I hope you find the site interesting and maybe in the future it will grow into something more, but enough words, let's get acquainted.</p>
        </div>
        <hr id="cv-separator">
        <div id="about-section">
            <h2>About</h2>
            <p class="about-text">
                My name is Olexander Merkulov, but in some networks I am signed under the nickname Crystal1s. I am a master's student in the field of cybersecurity and a novice python developer, I started my path in IT quite a long time ago, starting from school, when I first tinkered with HTML/CSS, then studied a little Turbo Pascal, and in high school I finally decided to connect my studies with cybersecurity.
            </p>
            <p class="about-text">
                But while studying at the university, I gathered a small team with which we tried to write games in C# and although we didn't succeed, to put it mildly, and we abandoned the idea of ​​a game development studio, the team was formed and in parallel with my studies, my friends and I completed several interesting projects related to building a comprehensive information protection system, data encryption, working with radars, and more.
            </p>
            <p class="about-text">
                About a year ago, I gradually started getting acquainted with Python and doing small projects, remembering my friends, several of them also liked to program, so to test our strength, we made the Parkan antivirus toolkit (there will definitely be a blog post about it). After passing the checkpoint in the project, I finally realized that I want to develop myself as a Python Developer.
            </p>
            <p class="about-text">
                So I created this site as a timeline of my development and hope to share here my successes, failures, news and so on. If anyone wants to check out my resume, here is <a href="https://drive.google.com/file/d/1nbJ20YHMn3zH-JfqkIg_RzuYZyrnyR2D/view?usp=drive_link" id="resume-link">the link</a>. Finally, I want to say that I may be wrong somewhere, but I will be grateful if you forgive me for this and help me become a better developer.
            </p>
        </div>
    </div>
{% endblock %}
